* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

// Font faces
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/lufga/LufgaSemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/lufga/LufgaMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/lufga/LufgaRegular.ttf') format('truetype');
    font-weight: 400;
}


// Common CSS
:root {
    --color1: #292930;
    --color2: #999fae;
    --color3: #656973;
    --color4: #e76458;
    --color5: #f6f7fb;
    --color6: #906145;
    --color7: #fab8c4;
    --color8: #dfbf9b;
    --color9: #fee9ec;
    --color10: #faf8fb;
    --color11: #27272e;
    --color12: #cbd3d9;
    --color13: #f2d790;
    --color14: #ebf9ff;
    --color15: #e6ffec;
    --color16: #fff5ee;
    --color17: #ffeded;
    --color18: #1ba2db;
    --color19: #3eb75e;
    --color20: #ff8f3c;
    --color21: #ff0003;
    --color22: #eaeef1;
    --black: #000000;
    --white: #ffffff;
    --behance: #131418;
    --facebook: #3b5999;
    --twitter: #55acee;
    --linkedin: #0077b5;
    --skype: #00aff0;
    --vimeo: #1ab7ea;
    --yahoo: #410093;
    --instagram: #e4405f;
    --dribbble: #ea4c89;
    --flickr: #ff0084;
    --pinterest: #bd081c;
    --youtube: #cd201f;
    --reddit: #ff5700;
    --rss: #f26522;
    --whatsapp: #25d366;
    --medium: #02b875;
    --transition: all 0.2s cubic-bezier(0.19, 0.68, 0.49, 1.21);
    --transition2: all 0.35s cubic-bezier(0.38, 3, 0.57, 1.6);
    --transition3: all 0.3s linear;
    --curve3: 3px;
    --curve5: 5px;
    --curve10: 10px;
    --curve15: 0.9375rem;
    --curve20: 1.25rem;
    --Poppins: Poppins;
    --DM-Sans: DM Sans;
    --font-family-title: 'Lufga', sans-serif;
    --title: #000;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1325px;
    width: 100%;
    margin: o auto;

    ul {
        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }
}


// Header section
.header {
    .header-topbar {
        background-color: #f6f7fb;
        padding: 15px 0;

        span>a {
            color: #292930;
            transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
            padding: 0 15px;

            &:hover {
                color: #e76458;
            }
        }

        span.text-link {
            font-size: 13px;
        }

        .header-topbar-left {
            span {
                a {
                    &:first-child {
                        padding-left: 0;
                    }
                }

                &:last-child {
                    border-left: 1px solid #292930;
                    padding-left: 15px;
                }
            }

            span.social-media {
                i {
                    font-size: 15px;
                }
            }
        }

        .header-topbar-right {
            text-align: right;

            span.text-link {
                border-right: 1px solid #292930;

                &:last-child {
                    border: none;
                }

                a {
                    padding: 0 15px;
                }
            }
        }
    }

    .header-navbar {
        padding: 1.3125rem 0;

        .row {
            align-items: center;
        }

        .header-navbar-menues {
            ul {
                display: flex;
                align-items: center;
                gap: 17px;

                li {
                    font-weight: 500;
                    font-size: 15px;

                    span.cart-list-toggle-btn {
                        font-size: 24px;
                    }
                }
            }
        }

        .header-logo {
            text-align: center;

            img {
                margin-top: -10px;
            }
        }

        .header-navbar-right {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: end;

            form.header-search {
                position: relative;

                button {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-color: transparent;
                    font-size: 1.125rem;
                    font-weight: 700;
                    width: 3.125rem;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }

                input {
                    height: 2.8125rem;
                    width: 12.5rem;
                    background-color: var(--color5);
                    -webkit-border-radius: 50rem;
                    border-radius: 50rem;
                    font-size: 14px;
                    font-family: var(--DM-Sans);
                    color: var(--color2);
                    padding: 0 1.875rem 0 3.125rem;
                    border: none;
                    transition: all linear 0.2s;
                    -webkit-transition: all linear 0.2s;
                    -moz-transition: all linear 0.2s;
                    -ms-transition: all linear 0.2s;
                    -o-transition: all linear 0.2s;
                }

                &:hover {
                    input {
                        width: 15rem;
                    }
                }
            }

            ul.wishlist-and-cart {
                gap: 15px;
                padding-left: 15px;

                li {
                    a {
                        font-size: 20px;
                        color: var(--color1);
                    }
                }
            }
        }
    }

    .header-bottombar {
        background-color: var(--color5);
        padding: 15px 0;

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: var(--color1);

            span.space-bar {
                width: 2.1875rem;
                height: 1px;
                background-color: var(--color1);
                display: inline-block;
                vertical-align: middle;
                margin: 0 0.9375rem;
            }

            a {
                text-decoration: underline;
                color: inherit;
            }
        }
    }
}

// Home page's Hero section
.home-hero {
    padding: 25px 0;

    .hero-item {
        height: 700px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .hero-item-info {
            position: absolute;
            top: 50%;
            left: 10%;

            h5.hero-subtitle {
                font-size: 1.25rem;
                font-weight: 500;
            }

            h1.hero-title {
                font-size: 3rem;
                font-family: var(--DM-Sans);
                font-weight: 700;
                margin: 15px 0 29px 0;
            }

            a.hero-btn {
                border: 1px solid var(--color1);
                position: relative;
                display: inline-block;
                color: var(--white);
                border-radius: 50rem;
                font-weight: 500;
                overflow: hidden;
                z-index: 1;
                padding: 1.0625rem 2.5rem;
                font-size: 1rem;
                background-color: var(--color1);
                cursor: pointer;

                &:hover {
                    border: 1px solid var(--color4);
                    color: #fff;

                    span {
                        transform: translateY(-25px) scale(2);
                        -webkit-transform: translateY(-25px) scale(2);
                        -moz-transform: translateY(-25px) scale(2);
                        -ms-transform: translateY(-25px) scale(2);
                        -o-transform: translateY(-25px) scale(2);
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    width: 25%;
                    height: 100%;
                    background-color: var(--color4);
                    -webkit-transform: translateY(150%);
                    transform: translateY(150%);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    left: calc((var(--n) - 1) * 25%);
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
                    transition-delay: calc((var(--n) - 1) * 0.1s);
                    z-index: -1;

                    &:nth-of-type(1) {
                        --n: 1
                    }

                    &:nth-of-type(2) {
                        --n: 2;
                    }

                    &:nth-of-type(3) {
                        --n: 3
                    }

                    &:nth-of-type(4) {
                        --n: 4
                    }
                }
            }
        }
    }

    .hero-item-1 {
        h5.hero-subtitle {
            color: var(--color4);
        }

        h1.hero-title {
            color: var(--color20);
        }
    }

    .hero-item-2 {
        h5.hero-subtitle {
            color: var(--white);
        }

        h1.hero-title {
            color: var(--white);
        }
    }
}

// Home page's Products Collection section
.collections {
    .collection-item {
        height: 501px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .collection-item-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            padding: 2rem 3rem;

            h3 {
                font-size: 3rem;
                color: var(--white);
                font-family: var(--DM-Sans);
                font-weight: 700;
            }

            a.collection-item-btn {
                color: var(--white);
                font-family: var(--Poppins);
                display: inline-block;
                font-size: 1rem;
                padding-left: 3rem;
                position: relative;
                -webkit-transition: var(--transition2);
                transition: var(--transition2);

                &::before {
                    content: "";
                    width: 2.125rem;
                    height: 1px;
                    background-color: var(--white);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -.5px;
                }

                &:hover {
                    padding-left: 2.25rem;

                    &::before {
                        width: 1.75rem;
                    }
                }
            }
        }
    }
}



// Sponsors section
.sponsors {
    margin: 100px 0;
    background-color: var(--color5);
    padding: 5rem 0;

    .sponsors-imgs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;

        a.sponsor-img {
            display: block;

            img {
                width: 100%;
                transition: var(--transition3);
            }

            &:hover {
                img {
                    filter: invert(0.4);
                }
            }
        }
    }
}

// Blog section
.blog {
    .blog-header {
        h6.blog-subtitle {
            color: var(--color4);
            font-size: 1.25rem;
            font-weight: 500;
        }

        h2.blog-title {
            font-size: 3rem;
            color: var(--color1);
            font-family: var(--DM-Sans);
            font-weight: 700;
            margin: 15px 0 29px 0;
        }

        .blog-btn {
            a {
                border: 1px solid var(--color1);
                position: relative;
                display: inline-block;
                color: var(--color1);
                border-radius: 50rem;
                font-weight: 500;
                overflow: hidden;
                z-index: 1;
                padding: 1.0625rem 2.5rem;
                font-size: 1rem;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    border: 1px solid var(--color4);
                    color: #fff;

                    span {
                        transform: translateY(-25px) scale(2);
                        -webkit-transform: translateY(-25px) scale(2);
                        -moz-transform: translateY(-25px) scale(2);
                        -ms-transform: translateY(-25px) scale(2);
                        -o-transform: translateY(-25px) scale(2);
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    width: 25%;
                    height: 100%;
                    background-color: var(--color4);
                    -webkit-transform: translateY(150%);
                    transform: translateY(150%);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    left: calc((var(--n) - 1) * 25%);
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
                    transition-delay: calc((var(--n) - 1) * 0.1s);
                    z-index: -1;

                    &:nth-of-type(1) {
                        --n: 1
                    }

                    &:nth-of-type(2) {
                        --n: 2;
                    }

                    &:nth-of-type(3) {
                        --n: 3
                    }

                    &:nth-of-type(4) {
                        --n: 4
                    }
                }
            }
        }
    }
}

// Newsletter section
.newsletter {
    padding-bottom: 115px;

    .newsletter-wrap {
        padding: 5.625rem 6.25rem 6.25rem;
        background-image: url('../images/newsletter-mockup.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-radius: 2.5rem;
        background-color: var(--color5);

        h6.newsletter-subtitle {
            color: var(--color4);
            font-size: 1.25rem;
            font-weight: 500;
        }

        h2.newsletter-title {
            font-size: 3rem;
            color: var(--color1);
            font-family: var(--DM-Sans);
            font-weight: 700;
            margin: 15px 0 29px 0;
        }

        form.newsletter-form {
            display: flex;
            align-items: center;
            gap: 25px;

            .newsletter-form-input {
                background-color: #fff;
                padding: 15px 25px;
                border-radius: 55px;
                -webkit-border-radius: 55px;
                -moz-border-radius: 55px;
                -ms-border-radius: 55px;
                -o-border-radius: 55px;

                i {
                    color: var(--color1);
                    font-size: 17px;
                    margin-right: 0.55rem;
                }

                input {
                    border: none;
                }
            }

            .newsletter-form-btn {
                button {
                    border: 1px solid transparent;
                    position: relative;
                    display: inline-block;
                    color: var(--white);
                    border-radius: 50rem;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: -6px;
                    overflow: hidden;
                    padding: 1.0625rem 2.5rem;
                    text-align: center;
                    z-index: 1;
                    padding: 15px 1.875rem;
                    font-size: .9375rem;
                    border-color: var(--color1);
                    background-color: var(--color1);
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--color4);

                        span {
                            transform: translateY(-25px) scale(2);
                            -webkit-transform: translateY(-25px) scale(2);
                            -moz-transform: translateY(-25px) scale(2);
                            -ms-transform: translateY(-25px) scale(2);
                            -o-transform: translateY(-25px) scale(2);
                        }
                    }

                    span {
                        display: block;
                        position: absolute;
                        width: 25%;
                        height: 100%;
                        background-color: var(--color4);
                        -webkit-transform: translateY(150%);
                        transform: translateY(150%);
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        left: calc((var(--n) - 1) * 25%);
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
                        transition-delay: calc((var(--n) - 1) * 0.1s);
                        z-index: -1;

                        &:nth-of-type(1) {
                            --n: 1
                        }

                        &:nth-of-type(2) {
                            --n: 2;
                        }

                        &:nth-of-type(3) {
                            --n: 3
                        }

                        &:nth-of-type(4) {
                            --n: 4
                        }
                    }
                }
            }
        }
    }
}




// products page's Hero section
.products-hero {
    position: relative;
    background: url('../images/nimble-made.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .hero-wrapper {
        position: relative;
        z-index: 2;
        padding: 99px 0;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            line-height: 1.3;
            color: #FFF;
            text-transform: capitalize;
            margin: 0;
        }

        p.hero-breadcrumb {
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #fff;

                &:hover {
                    color: var(--color4);
                }
            }

            span {
                font-size: 27px;
                padding: 3px 9px 0 9px;
            }
        }
    }
}

// Products page's products slider section
.products-slider-wrapper {
    padding: 115px 0;

    .products-slider-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 30px;

        .slider-item {
            .slider-item-top {
                height: 535px;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                -webkit-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                    -webkit-border-radius: inherit;
                    -moz-border-radius: inherit;
                    -ms-border-radius: inherit;
                    -o-border-radius: inherit;
                    transition: var(--transition3);
                    -webkit-transition: var(--transition3);
                    -moz-transition: var(--transition3);
                    -ms-transition: var(--transition3);
                    -o-transition: var(--transition3);
                }

                .slider-item-meta {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    span.slider-item-offer {
                        padding: 5px 15px;
                        background-color: #ffff;
                        color: var(--title);
                        font-family: var(--font-family-title);
                        font-size: 12px;
                        min-width: 22px;
                        min-height: 22px;
                        line-height: 18px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 600;
                        border-radius: 30px;
                        transition: 0.5s;
                    }

                    span.slider-item-wishlist-and-cart>span {
                        width: 45px;
                        min-width: 45px;
                        height: 45px;
                        display: block;
                        text-align: center;
                        background: rgba(0, 0, 0, 0.3);
                        border: 0;
                        line-height: 45px;
                        border-radius: 32px;
                        margin-bottom: 5px;
                        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            transition: all 0.5s;
                            opacity: 0.8;
                            visibility: hidden;
                            -webkit-transform: translate(-105%, 0);
                            transform: translate(-105%, 0);
                            border-right-width: 2px;
                            border-right-style: solid;
                            border-right-color: white;
                            background-color: rgba(255, 255, 255, 0.5);
                        }

                        &:hover {
                            &::before {
                                opacity: 0;
                                -webkit-transform: translate(0, 0);
                                transform: translate(0, 0);
                                visibility: visible;
                            }
                        }


                        i {
                            color: #fff;
                        }
                    }
                }

                a.slider-item-btn {
                    font-family: "Lufga", sans-serif;
                    color: #fff5ee;
                    font-weight: 600;
                    padding: 12px 30px;
                    font-size: 14px;
                    position: absolute;
                    bottom: -60px;
                    border: 4px solid #fffaf3;
                    left: 50%;
                    white-space: nowrap;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    border-radius: 45px;
                    -webkit-border-radius: 45px;
                    -moz-border-radius: 45px;
                    -ms-border-radius: 45px;
                    -o-border-radius: 45px;
                    overflow: hidden;
                    background-color: #131418;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        transition: all 0.5s;
                        opacity: 0.8;
                        -webkit-transform: translate(-105%, 0);
                        transform: translate(-105%, 0);
                        border-right-width: 2px;
                        border-right-style: solid;
                        border-right-color: white;
                        background-color: rgba(255, 255, 255, 0.5);
                    }

                    &:hover {
                        background-color: #CC0D39;

                        &::before {
                            opacity: 0;
                            -webkit-transform: translate(0, 0);
                            transform: translate(0, 0);
                        }
                    }
                }

                &:hover {
                    img {
                        transform: translateY(-15px);
                        -webkit-transform: translateY(-15px);
                        -moz-transform: translateY(-15px);
                        -ms-transform: translateY(-15px);
                        -o-transform: translateY(-15px);
                    }

                    a.slider-item-btn {
                        bottom: -4px;
                    }
                }


            }

            .silder-item-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                padding: 23px 0;

                a.item-title {
                    h3 {
                        margin: 0;
                        font-family: 'Lufga', sans-serif;
                        font-weight: 600;
                        color: var(--title);
                        line-height: 1.4;
                        font-size: 1.125rem;
                        transition: var(--transition3);
                        -webkit-transition: var(--transition3);
                        -moz-transition: var(--transition3);
                        -ms-transition: var(--transition3);
                        -o-transition: var(--transition3);
                    }

                    &:hover {
                        h3 {
                            color: var(--instagram);
                        }
                    }
                }

                p.item-price {
                    margin: 0;
                    font-family: 'Lufga', sans-serif;
                    font-weight: 600;
                    color: var(--title);
                    line-height: 1.4;
                    font-size: 1.125rem;
                }
            }
        }
    }
}




// Product Single page's Product item section
.product-item {
    padding: 61px 0 121px 0;

    .item-left-part {
        position: relative;
        margin-right: 35px;

        .product-item-slider {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 25px;

            .item-slider-other-imgs {

                .slider-nav-imgs {

                    span {
                        height: 75px;
                        width: 75px !important;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                
                .slick-vertical .slick-slide {
                    cursor: pointer !important;
                }
                
            }

            .item-slider-main-img {
                img {
                    width: 100%;
                    height: 600px;
                    object-fit: cover;
                }
            }
        }

        span.item-sale {
            position: absolute;
            right: -2.8125rem;
            top: 3.125rem;
            z-index: 1;
            color: var(--white);
            border: 2px solid var(--white);
            font-size: 1rem;
            font-family: var(--DM-Sans);
            font-weight: 500;
            padding: 10px 1.1rem;
            background-color: var(--color4);
            border-radius: 50rem !important;
        }
    }

    .item-right-part {
        p.item-reviews {
            margin: 0;

            span.item-reviews-stars {
                i {
                    color: var(--color13);

                    &:last-child {
                        color: var(--color3);
                    }
                }
            }

            a.item-reviews-text {
                font-size: 1rem;
                color: var(--color2);
                margin-left: .9375rem;
                transition: var(--transition3);
                -webkit-transition: var(--transition3);
                -moz-transition: var(--transition3);
                -ms-transition: var(--transition3);
                -o-transition: var(--transition3);

                &:hover {
                    color: var(--color4);
                }
            }
        }

        h1.item-title {
            margin: 0;
            color: var(--color1);
            font-family: var(--DM-Sans);
            font-weight: 700;
            font-size: 3rem;
            padding: .9375rem 55px 0 0;
        }

        p.item-price {
            margin: 30px 0 0 0;
            font-size: 1.5rem;
            font-family: var(--DM-Sans);
            font-weight: 500;
            color: var(--color1);
        }

        ul.item-features {
            padding-top: 1.5rem;
            margin-top: .9375rem;
            border-top: 1px solid var(--color12);

            li {
                line-height: 1.5rem;
                font-size: 1rem;
                font-weight: 500;
                color: var(--color1);
                padding-bottom: 5px;

                i {
                    color: #3eb75e;
                    margin-right: 9px;
                }
            }
        }

        p.item-description {
            line-height: 1.5rem;
            font-size: 1rem;
            margin: 1.5rem 0;
            color: #656973;
        }

        .item-color {
            display: flex;
            align-items: center;

            span {
                font-size: 1.25rem;
                font-family: var(--DM-Sans);
                color: var(--color1);
                font-weight: 500;
                min-width: 4.125rem;
                margin-right: 3.125rem;
            }

            a.color {
                height: .9375rem;
                width: .9375rem;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: relative;
                display: inline-block;
                margin: 4px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border: 1px solid var(--color1);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transform: scale(.5);
                    transform: scale(.5);
                    opacity: 0;
                    transition: var(--transition);
                    -webkit-transition: var(--transition);
                    -moz-transition: var(--transition);
                    -ms-transition: var(--transition);
                    -o-transition: var(--transition);
                }

                &:hover {
                    &::after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }

                &:nth-of-type(1) {
                    background-color: var(--color6);
                }

                &:nth-of-type(2) {
                    background-color: var(--color7);
                }

                &:nth-of-type(3) {
                    background-color: var(--color8);
                }

            }

            a.color+a.color {
                margin-left: 1.5rem;
            }
        }

        p.item-size {
            margin: 25px 0;
            display: flex;
            align-items: center;

            span {
                font-size: 1.25rem;
                font-family: var(--DM-Sans);
                color: var(--color1);
                font-weight: 500;
                min-width: 4.125rem;
                margin-right: 3.125rem;
            }

            a {
                font-size: 1rem;
                font-weight: 500;
                color: var(--color3);
                border: 1px solid var(--color12);
                -webkit-border-radius: 50rem;
                border-radius: 50rem;
                background-color: transparent;
                padding: 9px .9375em;
                transition: var(--transition3);
                -webkit-transition: var(--transition3);
                -moz-transition: var(--transition3);
                -ms-transition: var(--transition3);
                -o-transition: var(--transition3);
                -moz-border-radius: 50rem;
                -ms-border-radius: 50rem;
                -o-border-radius: 50rem;

                &:hover {
                    border: 1px solid var(--color4);
                    background-color: var(--color4);
                    color: var(--white)
                }
            }


            a+a {
                margin-left: 11px;
            }
        }

        .item-bottom {
            display: flex;
            align-items: center;
            gap: 15px;

            span.item-qty {
                button {
                    padding: 0;
                    background-color: var(--color5);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: 0;
                    color: var(--color1);
                    height: 2rem;
                    width: 2rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                input.item-qty-no {
                    -webkit-border-radius: 0 !important;
                    border-radius: 0 !important;
                    width: 3.125rem;
                    color: var(--color1);
                    font-weight: 500;
                    border: 0;
                    background-color: transparent;
                    height: 2rem;
                    text-align: center;
                }
            }

            a.item-add-to-cart {
                background-color: var(--color1);
                border: 1px solid transparent;
                position: relative;
                display: inline-block;
                color: var(--white);
                -webkit-border-radius: 50rem;
                border-radius: 50rem;
                font-size: 1rem;
                font-weight: 500;
                overflow: hidden;
                padding: 1.0625rem 2.5rem;
                text-align: center;
                z-index: 1;
                min-width: 18.125rem;
                transition: var(--transition2);
                -webkit-transition: var(--transition2);
                -moz-transition: var(--transition2);
                -ms-transition: var(--transition2);
                -o-transition: var(--transition2);

                &:hover {
                    border: 1px solid var(--color4);

                    span {
                        transform: translateY(-25px) scale(2);
                        -webkit-transform: translateY(-25px) scale(2);
                        -moz-transform: translateY(-25px) scale(2);
                        -ms-transform: translateY(-25px) scale(2);
                        -o-transform: translateY(-25px) scale(2);
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    width: 25%;
                    height: 100%;
                    background-color: var(--color4);
                    -webkit-transform: translateY(150%);
                    transform: translateY(150%);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    left: calc((var(--n) - 1) * 25%);
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
                    transition-delay: calc((var(--n) - 1) * 0.1s);
                    z-index: -1;

                    &:nth-of-type(1) {
                        --n: 1
                    }

                    &:nth-of-type(2) {
                        --n: 2;
                    }

                    &:nth-of-type(3) {
                        --n: 3
                    }

                    &:nth-of-type(4) {
                        --n: 4
                    }
                }
            }

            a.item-wishlist {
                display: inline-block;
                border: 1px solid var(--color12);
                height: 3.75rem;
                width: 3.75rem;
                text-align: center;
                color: var(--color1);
                font-size: 1.25rem;
                line-height: 4rem;
                transition: var(--transition3);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: transparent;

                &:hover {
                    border: 1px solid var(--color4);
                    background-color: var(--color4);
                    color: var(--white)
                }
            }
        }
    }
}



// Footer section
.footer {
    .footer-top {
        padding: 70px 0;
        border-top: 3px solid #cbd3d95b;
        border-bottom: 3px solid #cbd3d95b;

        .footer-social-links {
            margin-top: 1.875rem;

            span.social-media {

                i {
                    font-size: 15px;
                    color: #292930;
                    margin-right: 15px;

                    &:hover {
                        color: #e76458;
                    }
                }
            }
        }

        h5 {
            color: var(--color11);
            font-size: 1.135rem;
            font-weight: 500;
            margin-bottom: 1.25rem;
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;

            li {
                a {
                    font-size: 1.125rem;
                    color: var(--color3);
                    font-family: var(--DM-Sans);
                    font-weight: 500;
                    position: relative;
                    transition: all linear 0.2s;
                    -webkit-transition: all linear 0.2s;
                    -moz-transition: all linear 0.2s;
                    -ms-transition: all linear 0.2s;
                    -o-transition: all linear 0.2s;

                    &:hover {
                        color: #e4405f;
                    }
                }


            }

            li+li {
                margin-top: 1.25rem;
            }
        }
    }

    .footer-bottom {
        padding: 20px 0;

        .footer-bottom-links {
            ul {
                display: flex;
                align-items: center;
                gap: 15px;

                li {
                    position: relative;
                    font-family: var(--DM-Sans);
                    font-size: 14px;
                    color: var(--color3);
                    font-weight: 500;

                    a {
                        font-family: var(--DM-Sans);
                        font-size: 14px;
                        color: var(--color3);
                        font-weight: 500;
                        transition: var(--transition3);
                        -webkit-transition: var(--transition3);
                        -moz-transition: var(--transition3);
                        -ms-transition: var(--transition3);
                        -o-transition: var(--transition3);

                        &:hover {
                            color: var(--color4);
                        }
                    }
                }

                li+li {
                    padding-left: 15px;

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--color3);
                        height: 5px;
                        width: 5px;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        top: 50%;
                        margin-top: -2.5px;
                        left: 0;
                    }
                }
            }
        }

        .footer-bottom-payment {
            display: flex;
            align-items: center;
            gap: 21px;
            justify-content: end;

            span {
                position: relative;
                font-family: var(--DM-Sans);
                font-size: 14px;
                color: var(--color3);
                font-weight: 500;
            }

            img {
                max-height: 1.75rem;
            }
        }
    }
}